#recipes {
    .card {
        height: 364px;
        cursor: pointer;
        &__empty {
            text-align: center;
            font-size: 26px;
        }
        &__picture {
            height: 178px;
            background-color: $grey;
        }
        &__informations {
            background-color: $light-grey;
            // overflow: scroll;
            height: 186px;
            -ms-overflow-style: none; /* IE et edge */
            scrollbar-width: none; /* firefox */
            /* masquer la barre de défilement pour chrome, safari et opera */
            &::-webkit-scrollbar {
              display: none;
            }
        }
        &__title {
            font-weight: 400;
            font-size: 18px;
        }
        &__duration {
            font-weight: 700;
            font-size: 18px;
        }
        &__ingredients {
            padding: 0;
            p {
                margin: 0;
                font-size: 12px;
            }
            &__name {
                font-weight: 700;
            }
        }
        &__instructions {
            font-size: 12px;
            line-height: 12px;
            height: 110px;
            width: 50%;
        }
        &__instructions_text {
          width: 17em;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          position: absolute

        }
        
    }
}  


