main {
    .search,
    button {
        background-color: $light-grey !important;
        border: none;
        color: rgba(0, 0, 0, 0.5);
        height: 69px;
        padding-left: 22px;
        padding-right: 22px;
    }
    button {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .closed {
        &::placeholder {
            color: white;
            opacity: 1;
        }
    }
    .opened {
        &::placeholder {
            color: white;
            opacity: 0.5;
        }
    }
    #tags-search {
        .form {
            @include xl {
            margin-right: 0px;
            }
            margin-right: 25px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                right: 18px;
                transform: translate(0, 280%);
                cursor: pointer;
            }
        }
    }
    .search {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        &__ustensiles,
        &__ingredients,
        &__appareils {
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.6px;
            border: none;
            border-radius: 5px;
        }
        &__ingredients {
            background-color: $color-primary;
        }
        &__appareils {
            background-color: $color-secondary;
        }
        &__ustensiles {
            background-color: $color-tertiary;
        }
    }
}
  